/* login */
.login {
    padding: 8rem 0;
}

.login .inner {
    max-width: 48.8rem;
}

.login__tit {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-title2);
    line-height: var(--line-height-title2);
    letter-spacing: var(--spacing-title2);
    font-weight: 700;
}

.login__tit--line {
    margin-top: 4.8rem;
    position: relative;
}

.login__tit--line::before {
    content: '';
    width: 100vw;
    height: 1px;
    background: var(--color-text-neutral);
    position: absolute;
    top: -1.6rem;
    left: 50%;
    transform: translateX(-50%);
}

.login__desc {
    margin-top: 0.8rem;
    text-align: center;
    font-size: var(--font-size-normal);
    line-height: var(--line-height-normal);
    color: var(--color-text-muted);
}

.login__desc span {
    color: var(--color-primary-normal);
}

.login__detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__detail button {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.4rem 0.6rem;
    border: 0;
    background: transparent;
    font-size: var(--font-size-label2);
    line-height: var(--line-height-label2);
}

.login__detail button span {
    text-decoration: underline;
}

.login__detail button::after {
    content: '';
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    background: url('../../images/icons/arrow-icon.png') no-repeat center / contain;
    transform: rotate(90deg);
}

.login__detail button.open::after {
    transform: rotate(-90deg);
}

.login__detail .login__desc {
    display: none;
}

.login__form {
    padding: 3.2rem 2.4rem;
    border: var(--border-base);
    border-radius: var(--border-radius-lg);
    margin-top: 3.2rem;
}

.login__block {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.login__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    font-weight: 600;
    border: 0;
    border-radius: var(--border-radius-md);
    background-color: var(--color-primary-normal);
    color: var(--color-white);
    transition: all 0.3s;
}

.login__btn:disabled {
    background-color: var(--color-disabled);
    color: var(--color-text-disabled);
}

.esys {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    margin-top: 2.4rem;
}

.esys__link {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    background-color: var(--color-white);
}

.esys__link img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.login__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    margin-top: 3.2rem;
}

.login__item {
    position: relative;
}

.login__item + .login__item::before {
    content: '';
    display: block;
    width: 1px;
    height: 1.4rem;
    background-color: var(--color-line-neutral);
    position: absolute;
    top: 50%;
    left: -1.2rem;
    transform: translateY(-50%);
}

.login__item a {
    font-size: var(--fotn-size-label2);
    line-height: var(--line-height-label2);
    color: var(--color-text-muted);
}

.popup {
    display: none;
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-popup-bg);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.popup.on {
    display: block;
}

.popup__block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--color-white);
    border-radius: var(--border-radius-lg);
    padding: 2.4rem;
}

.popup__close {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 2.4rem;
    right: 2rem;
    background-color: transparent;
    border: 0;
}

.popup__close::before {
    content: '';
    width: 85%;
    height: 1px;
    background-color: var(--color-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}

.popup__close::after {
    content: '';
    width: 85%;
    height: 1px;
    background-color: var(--color-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}

.popup__tit {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.4rem;
    font-weight: 600;
    padding-top: 4.4rem;
}

.popup__tit img {
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
}

.popup__desc {
    font-size: var(--fotn-size-label2);
    line-height: var(--line-height-label2);
    font-weight: 400;
    text-align: center;
    margin-top: 12px;
    color: var(--color-text-pop);
}

.popup__bm {
    margin-top: 2.4rem;
}

/* 아이디 찾기 */
.find {
    padding: 8rem 0;
    overflow: hidden;
}

.find .inner {
    max-width: 87.2rem;
}

.find__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
    margin-top: 4.8rem;
}

.find__block {
    border: var(--border-base);
    border-radius: var(--border-radius-lg);
    padding: 3.2rem 2.4rem;
}

.find__top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find__icon {
    display: block;
    width: 9.6rem;
    height: 9.6rem;
    object-fit: contain;
}

.find__name {
    margin-top: 1.6rem;
    font-weight: 600;
}

.find__link {
    border: 1px solid var(--color-primary-normal);
    border-radius: var(--border-radius-sm);
    font-size: var(--font-size-normal);
    line-height: var(--line-height-normal);
    color: var(--color-primary-normal);
    margin-top: 1.2rem;
    padding: 0.9rem 2rem;
}

.find__list li {
    margin-top: 3.2rem;
    font-weight: 400;
    font-size: var(--font-size-label);
    line-height: var(--line-height-label);
    color: var(--color-text-muted);
    word-break: auto-phrase;
}

.find__list li + li {
    margin-top: 0.4rem;
}

.find__form {
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
    margin-top: 3.2rem;
}